/* ::-webkit-scrollbar {
  display: none;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: #51945d;

  min-height: 100vh;

  display: grid;
  grid-template-rows: auto auto auto;
}

/* TOP SECTION */
header {
  background-color: #d2cbb3bb;
  padding: 10px;
}
h1 {
  text-align: center;
  text-justify: center;
}
small {
  text-align: center;
  text-justify: center;
  display: block;
}

/* MAIN - CARDS */
main {
  display: grid;
  grid-template:
    ". marcus michael winnie ." 600px/
    1fr 400px 400px 400px 1fr;

  grid-gap: 2%;

  place-content: center;

  margin: 5px;
}
main .person-section {
  border: solid 1px #d2cbb3;
  border-radius: 5%;

  background-color: #d2cbb3;

  display: grid;
  grid-template:
    "name" 0.5fr
    "image" 1fr
    "quote-book" 4fr /
    auto;
  justify-items: center;
  align-items: center;
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.329);
}

.quote-book {
  height: 350px;
}

main .person-section.marcus {
  grid-area: marcus;
}
main .person-section.michael {
  grid-area: michael;
}
main .person-section.winnie {
  grid-area: winnie;
}
.person-section h2 {
  grid-area: name;
  text-align: center;

  text-decoration: underline;
}
.person-section div {
  grid-area: quote-book;

  border: #d3d1c9 2px solid;
  margin: 5%;

  overflow-y: scroll;

  display: grid;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.quote-book blockquote:nth-child(odd) {
  background-color: #8d8775;
}

.person-section div blockquote {
  margin: 3px;

  font-size: 80%;
  font-family: cursive;
  font-weight: lighter;
  font-style: italic;
  text-align: justify;
}

.quote-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-variant: small-caps;
}

.person-section img {
  grid-area: image;

  height: 150px;
  width: 150px;

  border-radius: 49%;
  border: 3px solid #51945d;
}

.person-section.michael div blockquote {
  font-family: "Courier New", Courier, monospace;
}

.person-section.winnie div blockquote {
  font-family: "Indie Flower", cursive;
}
footer {
  background-color: #d2cbb3bb;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  main {
    grid-template:
      ". marcus michael ." 600px
      ". winnie winnie ." 600px/
      1fr 400px 400px 1fr;
  }
}

@media screen and (max-width: 830px) {
  main {
    grid-template:
      ". marcus ." 600px
      ". michael ." 600px
      ". winnie ." 600px/
      1fr 380px 1fr;
  }
}
@media screen and (max-width: 375px) {
  main {
    grid-template:
      ". marcus ." 600px
      ". michael ." 600px
      ". winnie ." 600px/
      1fr 300px 1fr;
  }
}
