* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #51945d;

  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 7fr;
}

/* TOP SECTION */
header {
  background-color: #d2cbb3bb;
  width: 100vw;
}
h1 {
  text-align: center;
  text-justify: center;
}
small {
  text-align: center;
  text-justify: center;
  display: block;
}

/* MAIN - CARDS */
main {
  display: grid;
  grid-template:
    ". marcus michael winnie ." 600px/
    1fr 400px 400px 400px 1fr;

  grid-gap: 2%;

  place-content: center;

  margin: 5px;
}
main .person-section {
  border: solid 1px #d2cbb3;
  border-radius: 5%;

  background-color: #d2cbb3;

  display: grid;
  grid-template:
    "name" 0.5fr
    "image" 1fr
    "quote-book" 4fr /
    auto;

  box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.329);

  /* place-items: center; */
}
main .person-section.marcus {
  grid-area: marcus;
}
main .person-section.michael {
  grid-area: michael;
}
main .person-section.winnie {
  grid-area: winnie;
}
.person-section h2 {
  grid-area: name;
  text-align: center;

  text-decoration: underline;
}
.person-section div {
  grid-area: quote-book;

  border: #d3d1c9 2px solid;
  margin: 5%;

  overflow: scroll;

  display: grid;
  grid-template-rows: auto;
}

.person-section div blockquote {
  border: 1px solid white;

  margin: 3px;
}
.person-section img {
  grid-area: image;

  height: 150px;
  width: 150px;

  border-radius: 49%;
  border: 3px solid #51945d;
}

/* MAIN - MICHAEL SCOTT */
